body {
    position: relative;
    padding-top: 60px;
    margin: 0px;
    height: 100%;
}

.domains-head .input-append, .domains-head .btn-group {
    margin: 0px;
}

.domains-head input {
    margin-top: 5px;
}

.select-input {
    max-height: 415px;
    overflow: auto;
}

.input-error {
    border: 1px solid #c00;
    background: #003399;
}

.dropdown-menu {
    border-radius: 3px;
}

.btn {
    border-radius: 2px;
}

.btn-group .btn:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.btn-group .btn:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.btn-grey {
    background: #eaeaea; /* Old browsers */
    background: -moz-linear-gradient(top,  #eaeaea 0%, #d1d1d1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#d1d1d1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eaeaea 0%,#d1d1d1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eaeaea 0%,#d1d1d1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eaeaea 0%,#d1d1d1 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eaeaea 0%,#d1d1d1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
    border-color: #999999;
    box-shadow: 0 0 3px #ddd;
}

.btn-grey:hover {
    background: #d1d1d1; /* Old browsers */
    background: -moz-linear-gradient(top,  #d1d1d1 0%, #eaeaea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1d1d1), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d1d1d1 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d1d1d1 0%,#eaeaea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d1d1d1 0%,#eaeaea 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d1d1d1 0%,#eaeaea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */

}

.navbar-inner {
    min-height: 50px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background: #eeeded; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeded 0%, #c7c7c7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeded), color-stop(100%,#c7c7c7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeded 0%,#c7c7c7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeded 0%,#c7c7c7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeded 0%,#c7c7c7 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeded 0%,#c7c7c7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeded', endColorstr='#c7c7c7',GradientType=0 ); /* IE6-9 */

    background-repeat: repeat-x;
    border-bottom: 1px solid #7b7b7b;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *zoom: 1;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.navbar-inner .nav {
    margin: 5px 0 0 0;
}

.navbar-inner .nav li a {
    border-radius: 20px;
    padding: 0 15px;
    height: 28px;
    line-height: 28px;
    color: #444;
    border: 1px solid transparent;
}

.navbar-inner .nav li.active a {
    border:1px solid #bbb;
}

.navbar-inner .brand {
    background: url("/assets/img/fueldns.png") no-repeat left center;
    height: 30px;
    width:151px;
    overflow: hidden;
    text-indent: -500px;
    display: block;
    margin: 5px 20px 0 0;
    padding: 0px;
}

.xfluid {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.xspan {
    margin: 0px;
    padding: 0px;
    position: absolute;
    overflow: hidden;
}

.xspan .xspan-inner {
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 100%;
}

.domains-head {
    background: #fbfaf9; /* Old browsers */
    background: -moz-linear-gradient(top,  #fbfaf9 0%, #eeeded 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfaf9), color-stop(100%,#eeeded)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fbfaf9 0%,#eeeded 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fbfaf9 0%,#eeeded 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fbfaf9 0%,#eeeded 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fbfaf9 0%,#eeeded 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfaf9', endColorstr='#eeeded',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #bfbfbf;
    padding: 9px 20px 0 20px;
    height: 45px;
    margin: 0px;
    position: relative;
    z-index: 444;
}

.domains-head h1.lead {
    margin: 0px;
    padding: 5px 0 0 0;
    font-size: 26px;
}

.domain-records .domains-head {
    padding: 10px 15px 0 15px;
    height: 135px;
}

.domain-records h1.lead {
    font-size: 32px;
    padding: 20px 0 0 0;
    color: #444;
}

.domain-records-table {
    overflow: auto;
    height: 100%;
    vertical-align: middle;
    font-size: 12px;
}
.domain-records-table table td {
    vertical-align: middle;
}
.domain-records-table table thead tr {
    background: #dedede;
    border-top:1px solid #fff;
    vertical-align: middle;
}
.domain-records-table table tr.record_type th {
    background: #fafafa;
    font-weight: bold;
    color: #777;
}
.domain-records-contact {
    margin: 18px 0 0 0;
    opacity: 0.8;
}

.domains-head .btn {
    margin: 5px 0 0 0;
}

.domain-listing .domains-head h1.lead {
    margin: 0px;
    padding: 4px 0 0 0;
    font-size: 22px;
}


.domain-listing .domains-head {
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #b1b8bf;
    box-shadow: 0 0 5px #ccc;
    padding: 10px 15px 0 15px;
    height: 50px;
    position: relative;
    z-index: 555;
}

.domain-listing .xspan-inner {
    box-shadow: 0 0 5px #ccc;
    border-right: 1px solid #aaa;
    background:#dbe0e7;
    position: relative;
    z-index: 333;
    padding: 0px;
    margin: 0 0 0 -1px;
}

ul.domain-listing-nav {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: block;
    float: none;
    position: relative;
    overflow: auto;

}

ul.domain-listing-nav .no_result {
    text-align: center;
    padding: 40px 20px;
    color: #717e8b;
    text-shadow: 1px 1px 0 #fff;
}

ul.domain-listing-nav li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: block;
    background: none;
    width: 100%;
}

ul.domain-listing-nav li a {
    color: #333;
    font-weight: 500;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    font-size: 12px;
    padding: 0 21px;
    height: 22px;
    line-height: 22px;
    display: block;
    background: none;
    text-decoration: none;
}

ul.domain-listing-nav li.active a, ul.domain-listing-nav li.active:hover a {
    background: #96b5d9; /* Old browsers */
    background: -moz-linear-gradient(top,  #96b5d9 0%, #7497bf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96b5d9), color-stop(100%,#7497bf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #96b5d9 0%,#7497bf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #96b5d9 0%,#7497bf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #96b5d9 0%,#7497bf 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #96b5d9 0%,#7497bf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96b5d9', endColorstr='#7497bf',GradientType=0 ); /* IE6-9 */
    border-top: 1px solid #8eabcc;
    border-bottom: 1px solid #6382a4;
    color: #fff;
    text-shadow: 0px 1px 0 #555;
}

ul.domain-listing-nav li.active a i, ul.domain-listing-nav li.active:hover a i {
    background-image: url("../img/glyphicons-halflings-white.png");
}

ul.domain-listing-nav li a span, ul.domain-listing-nav li.active a span {
    float: right;
    color: #a6b3cb;
}

ul.domain-listing-nav li.active a span {
    color: #fff;
}

ul.domain-listing-nav li:hover a {
    background: #babfc7;
}

.xunit {
    text-align: center;
    margin: 150px 0 0 0;
}

.xunit h1 {
    font-size: 72px;
    margin: 0 0 30px 0;
}

.xunit-welcome {
    text-align: left;
    margin:100px 0 0 100px
}

.xunit-welcome h1 {
    font-size: 52px;
    margin: 0 0 20px 0;
}

.domain-search {
    border-top: 1px solid #fff;
    border-bottom:1px solid #b2b8bf;
    box-shadow: 0 0 15px #aaa;
    position: relative;
    z-index: 333;
}

.domain-search form {
    margin: 0px;
    padding: 10px 15px;
    position: relative;
    float: none;
}

.domain-search form input {
    border: 2px solid #a7bed8;
}

.alert p {
    margin: 0px;
    padding: 0px;
}

#add_record_block {
    display: none;
    border:0px;
}

#add_record_block td {
    background: #f3fae1;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0px solid #bdc5a9
}

.record_row .er_input {
    display: none;
}

.record_row .er_group .er_input {
    border: 1px solid #8da7c7;
    border-radius: 2px;
    font-size: 12px;
    padding: 0px 5px;
    height: auto;
    margin: 0px;
    float: left;
}

.record_row .er_group_addon .er_input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.record_row .er_group .er_input_addon {
    background: #8da7c7;
    display: block;
    color: #fff;
    position: relative;
    margin: 0;
    float: left;
    border: 1px solid #8da7c7;
    border-left:0px;
    padding: 0 5px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.record_row .record_save_btn {
    display: none;
}